<div class="app-content">
    <md-card >
        <app-visualiser [analyser]="analyser"  ></app-visualiser> 
    </md-card>
</div>
<div class="app-content">
    <md-card >
        <button md-raised-button color="primary" [disabled]="playing"  (click)="play()">Play</button>
        <button md-raised-button color="primary" [disabled]="!playing"  (click)="stop()">Stop</button>
        <button md-raised-button color="primary" [disabled]="!playing" (click)="pause()">plause</button>
        <button md-raised-button color="primary" [disabled]="!playing" (click)="resume()">resume</button>
        <button md-raised-button color="primary" (click)="record()">Record</button>
        <button md-raised-button color="primary" [disabled]="recording" (click)="stopRecord()">Stop Record</button>

    </md-card>
</div>