
<app-progress [isPlaying]="isPlaying" [track]="track"  [progress]="setTimeoutStart"></app-progress>


<input type="button" (click)="play()" [attr.value]="(isPlaying && !isSuspended)?'Pause':'play'">
<input type="button" (click)="stop()" value="Stop">
<input type="button" (click)="record()" value="record" *ngIf="!recordStatus">
<input type="button" (click)="stopRecord()" value="Stop Recording"  *ngIf="recordStatus">
<ul id="recordingslist">
    <li *ngFor="let rec of recorderArray"><a [href]="rec.href" [download]="rec.download">click</a></li>

</ul>