.selected {
    color:red;
    background: yellow;
    cursor: pointer;
}
.spanClass{
    padding: 0 2px;
   float: left;
}

.audioSelected{
    padding:  0px;
    border: 0px solid #009dff;
    background: #009dff;
}