<md-sidenav-layout>
    <md-toolbar color="primary">
        <md-icon><i class="material-icons icon-20">playlist_play</i>
        </md-icon>Audio Editor
    </md-toolbar>
            <app-player [audioUrl]='music'></app-player>
    <div class="app-content">
        <form autocomplete="off" >
        <md-card  *ngIf="realdata" class="wordHolder">
            <p class="noselect">
                
                <app-word  (selectAnotherWord)="selectAnotherWord($event)" [index]="i" (clickEvent)="clickEvent($event);" (selection)="selection(i)" (draggedEnded)="draggedEnded(i)" (draggedStart)="draggedStart(i)" *ngFor="let item of realdata; let i = index" [data]="item"> </app-word >
            </p>
        </md-card>
        </form>
    </div>
    <md-sidenav align="end" mode="side" opened>
        <md-tab-group>
            <md-tab>
                <template md-tab-label>Audio</template>
                <template md-tab-content></template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Download</template>
                <template md-tab-content></template>
            </md-tab>
        </md-tab-group>
    </md-sidenav>

</md-sidenav-layout>