<p class="passage-audio" >
    <app-player *ngIf="realdata" (timestampemit)="speechhightlight($event)" [track]="realdata" [setTimeoutStart]="lastSelected"></app-player>
</p>
<!--   -->
<input type="button" value="Cut" (click)="cut();" *ngIf="dragStartIndex>0 && dragEndIndex>0 && !pasteBin">
<input type="button" value="Clear Selection" (click)="clear();" *ngIf="dragStartIndex>0 && dragEndIndex>0">
<input type="button" value="paste" (click)="paste();" *ngIf="pasteBin">
{{currenttimeStamp}}

<div class="textholder" >
start selection {{dragStartIndex}}
end selection {{dragEndIndex}}
    <p class="noselect" *ngIf="realdata">
       <app-word  (selectAnotherWord)="selectAnotherWord($event)" [index]="i" (clickEvent)="clickEvent($event);" (selection)="selection(i)" (draggedEnded)="draggedEnded(i)" (draggedStart)="draggedStart(i)" *ngFor="let item of realdata; let i = index" [data]="item"> </app-word >
    </p>

</div>