<form  enctype="multipart/form-data" action="upload.php" method="POST"  name="fileinfo">
    <md-grid-list cols="1"  rowHeight="100px" [style.background]="'lightblue'">
        <md-grid-tile>
            <input type="file" name="media" (change)="fileChange($event)" placeholder="Upload file" accept=".mp3"/>
        </md-grid-tile>
    </md-grid-list>
</form>
<md-divider></md-divider>
<h3 md-subheader>Audio Files</h3>
<md-divider></md-divider>
<md-list >
    <md-list-item  class="listaudio" *ngFor="let red of audioRef|async" >
        <md-icon md-list-avatar>note</md-icon>
        <h3 md-line> Audio </h3>
        <p md-line (click)="loadAudio(red);" > {{red.name}}</p>
        <p md-line>  <button md-raised-button color="primary" (click)="checkStatus(red);" >check status</button></p>

    </md-list-item> 
</md-list>